<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.linuxtools.docker.ui.dockerComposeUpLaunchConfigurationType">
    <stringAttribute key="dockerConnection" value="localhost"/>
    <stringAttribute key="workingDir" value="/rhjoerg-docker"/>
    <booleanAttribute key="workingDirWorkspaceRelativeLocation" value="true"/>
</launchConfiguration>
