<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.linuxtools.docker.ui.runDockerImageLaunchConfigurationType">
    <booleanAttribute key="allocatePseudoTTY" value="false"/>
    <booleanAttribute key="autoRemove" value="true"/>
    <listAttribute key="binds"/>
    <stringAttribute key="command" value=""/>
    <stringAttribute key="connectionName" value="localhost"/>
    <stringAttribute key="containerName" value="rhjoerg-docker-frontend"/>
    <stringAttribute key="cpuPriority" value="1024"/>
    <booleanAttribute key="enableLimits" value="false"/>
    <listAttribute key="envVariables"/>
    <stringAttribute key="imageId" value="sha256:000239a046e7ba8260e0908985ff0701e5615f5c3f8e4a9b700c441f6325454a"/>
    <stringAttribute key="imageName" value="rhjoerg-docker-frontend:latest"/>
    <booleanAttribute key="interactive" value="false"/>
    <mapAttribute key="labels"/>
    <listAttribute key="links"/>
    <stringAttribute key="memoryLimit" value="512"/>
    <stringAttribute key="networkMode" value=""/>
    <booleanAttribute key="privileged" value="false"/>
    <booleanAttribute key="publishAllPorts" value="false"/>
    <listAttribute key="publishedPorts">
        <listEntry value="8080/tcp:localhost:80:true"/>
    </listAttribute>
    <listAttribute key="volumes"/>
    <listAttribute key="volumesFrom"/>
</launchConfiguration>
