<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.linuxtools.docker.ui.buildDockerImageLaunchConfigurationType">
    <stringAttribute key="dockerConnection" value="localhost"/>
    <stringAttribute key="dockerfileName" value="Dockerfile"/>
    <booleanAttribute key="forcerm" value="false"/>
    <booleanAttribute key="noCache" value="false"/>
    <booleanAttribute key="quietBuild" value="false"/>
    <stringAttribute key="repoName" value="rhjoerg-docker-frontend"/>
    <booleanAttribute key="rm" value="true"/>
    <stringAttribute key="sourcePathLocation" value="\rhjoerg-docker-frontend"/>
    <booleanAttribute key="sourcePathWorkspaceRelativeLocation" value="true"/>
</launchConfiguration>
